/* CSS Document */
.adminbar {
	position:fixed; 
    background:url('../images/adminbarbg.png') repeat;
    top:0;
	right:0;
	height:38px;
	width:36px;
	overflow:hidden; 
}
.adminbar .open { float:left; padding:4px; position:relative; }

.adminbar .adminbarform { position:relative; color:white; }
#adminBarAccess { float:right; position:relative;  padding:6px 0; }
.adminbar input#username { background:transparent url('../images/username.png'); width:150px; height:1.7em; border:1px solid #006;  }
.adminbar input#username:focus { background:white; }
.adminbar input#password { background:transparent url('../images/password.png'); width:150px; height:1.7em; border:1px solid #006;  }
.adminbar input#password:focus { background:white; }