/* CSS Document */
.adminbar {
	position:fixed; 
    background-color:#3d5ba7;
    top:0;
	right:0;
	height:38px;
	width:38px;
	overflow:hidden; 
}
.adminbar .open { float:left; padding:4px; position:relative; }

.adminbar .adminbarform { position:relative; color:white; }
#adminBarAccess { float:left; width:480px; position:relative;  padding:6px 0; }