/* CSS Document */
/*
.logininvalid {
	float:left;
	padding:5px 0;
}
.loginform {
	float:left;
    height:1.2em;
    display:inline;
}
.adminbar {
    background-color:#3d5ba7;
    position:fixed;
    right:0;
}
.adminbar .open { float:left; padding:1px; }
.adminbar #adminBarAccess { display:none; }
.adminbar:hover #adminBarAccess { display:inline; }
*/
/* login logout form */
/*.adminbarform { color:white; display:inline; }
.adminbarform td { width:220px; } .adminbarform td.submit { width:70px; } .adminbarform td.welcome { width:150px; }
*/